@media screen and (max-width: 1000px) {
	.items-inf {
		flex-direction: column;
		gap: 15px;
	}

	.tracking-view {
		max-width: 400px;
	}

	.items-inf-item {
		border: none;
		padding: 0;

		width: 100%;
		text-align: center;
	}

	.tracking-view {
		width: 88%;
		height: 220px;
	}

	.tracking-search-container {
		width: 90%;

		position: relative;
		left: 3px;
	}

	.tracking-inputip {
		width: 90%;
	}

	.tracking-label {
		font-size: x-large;
	}
}